@font-face { font-family: 'Amatic SC';
 font-style: normal;
 font-weight: 400;
 src: url(amatic-sc/TUZyzwprpvBS1izr_vOECuSaU5cP1Q.ttf) format('truetype'); }
@font-face { font-family: 'Amatic SC';
 font-style: normal;
 font-weight: 700;
 src: url(amatic-sc/TUZ3zwprpvBS1izr_vOMscGKfrUH_2fi-Q.ttf) format('truetype'); }
