@font-face { font-family: 'Fira Sans Condensed';
 font-style: italic;
 font-weight: 400;
 src: url(fira-sans-condensed/wEOjEADFm8hSaQTFG18FErVhsC9x-tarUfPdr-NUXRxSjQ.ttf) format('truetype'); }
@font-face { font-family: 'Fira Sans Condensed';
 font-style: italic;
 font-weight: 700;
 src: url(fira-sans-condensed/wEOuEADFm8hSaQTFG18FErVhsC9x-tarUfPVFMZEcD5ap40nEQ.ttf) format('truetype'); }
@font-face { font-family: 'Fira Sans Condensed';
 font-style: normal;
 font-weight: 400;
 src: url(fira-sans-condensed/wEOhEADFm8hSaQTFG18FErVhsC9x-tarUfbtqOlWfx4.ttf) format('truetype'); }
@font-face { font-family: 'Fira Sans Condensed';
 font-style: normal;
 font-weight: 700;
 src: url(fira-sans-condensed/wEOsEADFm8hSaQTFG18FErVhsC9x-tarWU3IuMR0dzRYhY8.ttf) format('truetype'); }
