@font-face { font-family: 'Noto Emoji';
 font-style: normal;
 font-weight: 400;
 src: url(noto-emoji/bMrnmSyK7YY-MEu6aWjPDs-ar6uWaGWuob-r0jwvS-FGJRsa.ttf) format('truetype'); }
@font-face { font-family: 'Noto Emoji';
 font-style: normal;
 font-weight: 700;
 src: url(noto-emoji/bMrnmSyK7YY-MEu6aWjPDs-ar6uWaGWuob9M1TwvS-FGJRsa.ttf) format('truetype'); }
